:root.dark {
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #aaaaaa;
  --color-text-light: #888888;
  --color-text-lighter: #666666;

  --color-bg-body: #121212;
  --color-bg-card: #1f1f1f;
  --color-bg-light: #282828;
  --color-bg-lighter: #333333;
  --color-bg-hover: #3a3a3a;
  --color-bg-blue-light: #291c42;

  --color-border: #444444;
  --color-border-light: #333333;

  --color-bg-priority-low: #102036;
  --color-bg-priority-medium: #352b12;
  --color-bg-priority-high: #361618;

  --shadow-base: 0 2px 8px rgba(0, 0, 0, 0.5);

  --color-white: #1f1f1f;
  --color-inverse-text: #121212;
}
