:root.light {
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-light: #888888;
  --color-text-lighter: #999999;
  
  --color-bg-body: #f5f5f5;
  --color-bg-card: #fcf7ff;
  --color-bg-light: #f9f9f9;
  --color-bg-lighter: #f5f5f5;
  --color-bg-hover: #f0f0f0;
  --color-bg-blue-light: #f0e6ff;
  
  --color-border: #dddddd;
  --color-border-light: #eeeeee;
  
  --color-bg-priority-low: #e6f7ff;
  --color-bg-priority-medium: #fff7e6;
  --color-bg-priority-high: #fff1f0;
  
  --shadow-base: 0 2px 8px rgba(0, 0, 0, 0.1);
  
  --color-white: #fcf7ff;
  --color-inverse-text: #ffffff;
} 